.HomeBG {
    height:100vh;
    width:100vw;
    position:relative;
    vertical-align: bottom;
  }

/*   
  .introContainer {

  } */
  
  .openingText  {
    position:absolute;
    top: 25%;
    left: 15%;
    color:rgb(243, 187, 67);
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    font-family: 'Press Start 2P';
    font-size: calc(5px + 2vmin);
    margin-top:0 !important;
    margin-bottom:0 !important;
    position: absolute;
    display:inline-block;
    width: 50vw;
    text-align: left;

  }

  /* .Typewriter {
    font-family: 'Press Start 2P';
    font-size: calc(5px + 2vmin);
    color:rgb(243, 187, 67);
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    position:absolute;
  } */
  
  .tagLine {
  line-height: 30px;
  width: 55vw;
  }
  
  .Para {
    height:60vh;
    width:100vw;
    background-color: gray;
    margin-top:0 !important;
    margin-bottom:0 !important;
    display:flex;
  }
  
  .ParaBanner {
    height:40vh;
    width: 100vw;
    background-color: black;
    position:relative;
  }
  
  .BannerText {
    color:rgb(243, 187, 67);
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    font-family: 'Press Start 2P';
    font-size:25px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    
  }