.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  position: relative;
}

.App-logo {
  height:80vh;
  width:100vw;
  position:relative;
  vertical-align: bottom;
}

.Text-block {
  font-family: 'Press Start 2P';
  font-size: calc(5px + 2vmin);
  position: absolute;
  text-align: left;
  color:rgb(243, 187, 67);
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  top: 25%;
  left: 25%;
}

.typeWriter {
  line-height: 4vh;
  margin-bottom: 1vh !important
}

.topics {
  color:rgb(243, 187, 67);
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  font-family: 'Press Start 2P';
  font-size: calc(5px + 1vmin);
  margin-top:0 !important;
  margin-bottom:0 !important;
  position: absolute;
  display:flex;
  top: 4vh;
  right: 4vw;
  scroll-behavior: smooth;
}

.About, .Projects, .Hobbies {
  margin-right: 3vw;
}

.Para {
  height:50vh;
  background-color: gray;
  margin-top:0 !important;
  margin-bottom:0 !important;
  display:flex;
}

.Pro {
  height:100vh;
  background-color: white;
  margin-top:0 !important;
  margin-bottom:0 !important;
  display:flex;
}